<h1>Registro de Alumno</h1>
<div class="row">
  <div class="col-6">
    <form (ngSubmit)="onSubmit()" [formGroup]="alumnosForm">
      <div class="mb-4">
        <label for="matricula" class="form-label">Matricula</label>
        <input type="text" id="matricula" name="matricula" class="form-control" formControlName="matricula">
        <div *nfIf="alumnosForm.get('matricula')?.touched && alumnosForm.get('matricula')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
      </div>
      <div class="mb-4">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="form-control"  formControlName="nombre">
      </div>
      <div class="mb-4">
        <label for="edad" class="form-label">Edad:</label>
        <input type="text" name="edad" id="edad" class="form-control"  formControlName="edad">
      </div>
      <div class="mb-4">
        <label for="correo" class="form-label">Correo</label>
        <input type="text" name="correo" id="correo" class="form-control"  formControlName="correo">
        <div *nfIf="alumnosForm.get('correo')?.touched && alumnosForm.get('correo')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
      </div>
      <div class="mb-4">
        <label for="foto" class="form-label">Foto:</label>
        <input type="text" name="foto" id="foto" class="form-control"  formControlName="foto">
      </div>
      <div class="mb-4">
        <label for="calif" class="form-label">Calificacion:</label>
        <input type="text" name="calif" id="calif" class="form-control"  formControlName="calif">
      </div>
      <div class="d-grid gap-2 col-4 float-end">
        <button class="btn btn-info btn-lg" type="submit">Guardar</button>
      </div>
    </form>
  </div>
  <div class="col-6"> <!-- Agregué la clase "col-6" para asegurar que tenga el ancho correcto -->
    <h1>Registro</h1>
    <table class="table">
      <thead class="table"> <!-- Agregué la clase "table-primary" para dar estilo al encabezado -->
        <tr>
          <th>Matricula</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Correo</th>
          <th>Calificacion</th> <!-- Corregí la ortografía de "Calificacion" -->
          <th>Foto</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí debes agregar las filas de datos de los alumnos -->
        <!-- Por ejemplo, puedes utilizar *ngFor para iterar sobre un arreglo de alumnos y mostrar sus datos -->
        <tr *ngFor="let alumno of alumnosForm.value | keyvalue">
          <td>{{ alumno.value.mat }}</td>
          <td>{{ alumno.value.nombre }}</td>
          <td>{{ alumno.value.edad }}</td>
          <td>{{ alumno.value.correo }}</td>
          <td>{{ alumno.value.calif }}</td>
          <td>{{ alumno.value.foto }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
