<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="" class="form-label">Numero1:</label>
      <input type="number" class="form-control" [(ngModel)]="num1" name="num1" placeholder="Numero1">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Numero2:</label>
      <input type="number" class="form-control" [(ngModel)]="num2" name="num2" placeholder="Numero2" >
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" (click)="sumar()">Calcular</button>
    </div>
    <div class="col-md-6">
      <h2>La suma es:{{resultado}}</h2>
    </div>
  </div>
</div>
