<app-menu></app-menu>
<div class="container">
  <div class="row">
    <!-- <p>Hola Mundo</p>

    <div>
      <h1>IDGS 902</h1>
    </div>

    <div>
      {{title}}
    </div>
    <div> la suma de 2 + 2 es: {{2+2}}</div>
    <div>EL doble de 3 es: {{duplicado(3)}}</div>
    <br />
    <div>
      <b>Matricula:</b>{{alumno.matricula}}
    </div>
    <div>
      <b>Nombre:</b>{{alumno.nombre | uppercase}}
    </div>
    <div>
      <b>Apellido Paterno:</b>{{alumno.apePaterno | lowercase}}
    </div>
    <div>
      <b>Inscrito:</b>{{alumno.inscrito | currency}}
    </div>
    <div>
      <b>Fecha de nacimiento:</b>{{alumno.fechNacimiento | date: "dd-MM-yy"}}
    </div>

    <div>
      <hr>
      <app-grupos></app-grupos>
    </div>
    <hr>
    <app_idgs902></app_idgs902>
    <app-idgs></app-idgs> -->
    <!-- <app-iric></app-iric> -->
    <!-- <app-suma></app-suma> -->
    <!-- <app-operas-basc></app-operas-basc> -->
    <app-distancia></app-distancia>
  </div>
</div>
